@import '../../styles/variables.scss';

.message {
  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 15px;
    position: relative;
  }

  &__attachments {
    display: flex;
    max-width: 205px;
    max-height: 205px;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
  }

  &__attachments-item {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    img {
      pointer-events: none;
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
  
    img {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 23px;
    }
  }

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
    width: fit-content;
    margin-right: auto;
    position: relative;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__readed {
    position: absolute;
    bottom: 0;
    left: -25px;

    &_no {
      position: absolute;
      left: -20.04px; 
      bottom: 0;
    }
  }

  &_audio {
    audio {
      display: none;
    }

    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
    }

    #{$self}__audio {
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      
      &-button {
        display: flex;
        
        button {
          cursor: pointer;
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;  

          img {
            height: 13px;
          }
        }
      } 

      &-wave {
        height: 30px;

        img {
          height: 100%;
        }
      }

      &-duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }

      &-progress {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #418fff;
        height: 100%;
        transition-duration: 500ms;
      }
    }
  }

  &_single-image {
    #{$self}__attachments-item {
      width: 150px;
      height: 150px;
      
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  &_is-typing {
    #{$self}__avatar {
      img {
        margin-bottom: 9px;
      }
    }

    #{$self}__bubble {
      background: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
      padding: 15px 20px;
    }

    #{$self}__typing {
      span {
        animation: mercuryTypingAnimation 1s infinite ease-in-out;
        background-color: $message-typing-circle;
        border-radius: 50%;
        height: 8px;
        margin-right: 8px;
        width: 8px;
        display: inline-block;
  
        &:nth-child(1) {
          animation-delay: 200ms;
        }
  
        &:nth-child(2) {
          animation-delay: 300ms;
        }
  
        &:nth-child(3) {
          animation-delay: 400ms;
          margin-right: 0;
        }
  
        @keyframes mercuryTypingAnimation {
          0% {
            opacity: 1;
            transform: scale(1);
          }
          28% {
            opacity: 0.5;
            transform: scale(1.1);
          }
          44% {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &_is-me {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__attachments {
      margin-left: auto;
    }
  
    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }
  
    #{$self}__info {
      text-align: right;
    }
  
    #{$self}__bubble {
      background: #fff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0,0,0, 0.022);
      border-radius: 12px 12px 0px 12px;
      margin-left: auto;
      margin-right: 0;
  
      #{$self}__text {
        color: $black;
      }
    }
  }
}